<!DOCTYPE html>
<html>
    <head>
        <title>Adventure-Venture</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
    </head>
    <body>
        <div class="container">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>
        <div id="landing-header">
            <h1>Welcome to Adventure-Venture!</h1>
        <a href="/campgrounds" class="btn btn-danger"><i class="fas fa-tree"></i> View All Campgrounds</a>
        </div>
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

<%- include ('includes/footer') %>
